body{

    margin:auto;
    width:70%;
}
.link1{

    display:block;
    margin:auto;
    text-align: center;
    width:80%;
}
.link1 img{

    width:80%;
}

.titleBar{
    float:left;
    margin: 20px;
    border-radius: 0.5em;
}

.imgInner{

}
h3{
	display: inline;
	padding-bottom: 20px;
}
dd{


}